<header class="site-header">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a class="navbar-brand" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}/img/logo.png" title="{{ site.title }}"></a>
      </div>
      <div class="col-md-8">
        <ul class="nav nav-pills">
          <li role="presentation" class="pull-right"><a href="{{ site.baseurl }}/quienes-somos.html" class="btn btn-success">¿Quiénes somos?</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
